<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include "_includes/head.html.twig" %}
        {% block head %}{% endblock %}
    </head>
    <body class="bg-light">
		<div class="content">
            <div class="shadow p-3 m-5 bg-white rounded">
                {% block formheader %}{% endblock %}
            </div>

		    <div class="row pt-5">
                <div class="col-xl-4 col-md-3 col-sm-2"></div>
		        <div class="col-xl-4 col-md-6 col-sm-8 px-4">
					{% block formcontent %}{% endblock %}
		        </div>
		    </div>
			<div class="row pt-5">
		        <div class="col-xl-4 col-md-3 col-sm-2"></div>
		        <div class="col-xl-4 col-md-6 col-sm-8">
					{% block formunder %}{% endblock %}
		        </div>
		    </div>
		</div>

        {% include "_includes/scripts.html.twig" %}
        {% block scripts %}{% endblock %}
    </body>
</html>
